---

- name: Update package manager cache 
  hosts: all
  become: yes
  tasks:
    - name: update apt cache
      ansible.builtin.apt:
        update_cache: yes
      when: ansible_pkg_mgr == "apt"
    - name: update yum cache
      ansible.builtin.yum:
        update_cache: yes
      when: ansible_pkg_mgr == "yum"
    - name: update apk cache
      community.general.apk:
        update_cache: yes
      when: ansible_pkg_mgr == "apk"
    - name: update dnf cache
      ansible.builtin.dnf:
        update_cache: yes
      when: ansible_pkg_mgr == "dnf"
    - name: update zypper cache
      community.general.zypper:
        name: zypper
        update_cache: yes
      when: ansible_pkg_mgr == "zypper"
    - name: update pacman cache
      community.general.pacman:
        update_cache: yes
      when: ansible_pkg_mgr == "pacman"


- name: prometheus & alertmanager instances installation
  hosts: balancers
  become: true
  tasks:
    - name: Install prometheus
      ansible.builtin.package:
        name: prometheus
        state: present
    - name: Install prometheus
      ansible.builtin.package:
        name: prometheus-alertmanager
        state: present

- name: add etcd nodes to monitoring group
  hosts: balancers
  become: true
  tasks:
    - name: add etcs group to prometheus config file
      ansible.builtin.blockinfile:
        path: /etc/prometheus/prometheus.yml.test
        create: true
        block: |
          global:
            scrape_interval: 15s
          scrape_configs:
            - job_name: etcd-job
              static_configs:
                - targets:  # etcd host are listed after this line
    - name: add hosts to etcd group to prometheus config file
      ansible.builtin.lineinfile:
        path: /etc/prometheus/prometheus.yml.test
        insertafter: '    - targets: # etcd host are listed after this line'
        line: "      {{ item }}"
      with_items:
        - "{{ groups['etcd'] }}"






# prometheus-postgres-exporter

